*
{
    margin: 0;
    padding: 0;
    color: azure;
}

:root{
   --font: 'Cabin', sans-serif;
}

html{
    background: #041b01;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#TitleSection
{
    height: 100vh;
    font-family: var(--font);
    background-image: url("./assets/HeroBackground.png");
}

.logo{
  width: 32px; 
  height: 32px;
  justify-self: end;
}

#logoContainer{
  padding: 2% 0 0 2%;
}

#TitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* https://www.w3schools.com/css/css_align.asp */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#title{
text-transform: uppercase;
text-align: center;
font-size: 2rem;
margin: 16px 2vw 16px 2vw;
padding: 1rem 0.5rem 0px 0.5rem;
}

#subtitle{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem 0px 0.5rem;
}




.MainContentContainer{
    display: flex ;
    flex-direction: row;
    align-items: center;
}

.SectionContentContainer{
    display: flex ;
    flex-direction: column;
    width: 60%;
}

.AsideContentContainer{
    display: flex ;
    flex-direction: column;
    align-items: center;
    width:20% ;
    height: 100%;
    background-color: aqua;

    background:green;
    height: 100%;
    width: 50%;
}
.elevator{
    width:20% ;
    height: 100vw;
}


.container {
    height: 100vh;
    background: #1b1b1b;
    padding-bottom: 50vh;
    padding-top: 50vh;
  }

  .HoleBackground{
    position: absolute;
  }


  #SectionOneTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #SectionOne{
    position: relative;
  }
  #TitleSectionOne{
    position: relative;
    font-size: 3rem;
  }
  #SectionOneContentOne{
    position: relative;
    font-size: 1rem;
  }
  #SectionOneContentTwo{
    position: relative;
    font-size: 1rem;
  }




  #archeologist{
    z-index: 1;
    margin: 0;
    position: relative;
    transform-origin: center;
}

#green{
  background-color: #2b6b30;
}