@font-face {
  font-family: myFirstFont;
  src: url(./assets/Fonts/OpenDyslexic/OpenDyslexic-Regular.woff);
}


* {
  margin: 0;
  padding: 0;
  color: azure;
  /* font-family: myFirstFont; */
}



:root {
  --font: 'Cabin', sans-serif;
  --paddingTop: 50px;

  --minWidth: 900;

  /* Colours */
  --DirtOne: #6B440E;
  --DirtTwo: #3F2807;
  --DirtThree: #391704;
  --DirtFour: #240E02;
  --DirtFive: #1A0C04;
}

html {
  background: #041b01;
  font-size: 16px;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* Hero Section Styling */

#TitleSection {
  height: 100vh;
  font-family: var(--font);
  background-image: url("./assets/HeroBackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 10vw;
  height: 10vh;
  justify-self: end;
}

#logoContainer {
  padding: 2% 0 0 2%;
}

#TitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* https://www.w3schools.com/css/css_align.asp */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 16px 2vw 16px 2vw;
  padding: 1rem 0.5rem 0px 0.5rem;
}

#subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem 0px 0.5rem;
}



#intro {
  background: url('./assets/backgroundMainOr.jpg') no-repeat center center;
  background-size: cover;
  padding: 16px;
  text-align: center;
  width: 100vw;
  height: 100vh; /* or set a specific height */
  margin: 0;
}

#introBox {
  fill: #95C0A8;
  width: 75vw;
  flex-shrink: 0;
  position: absolute;
  z-index: -1;

  width: 300px;
  height: 150px;
  resize: both;
  overflow: auto;
}

/*  */
#introBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--paddingTop);
  

}

.archeologist {
  width: 50px;
  height: 50px;
}

.MainContentContainer {
  display: flex;
  flex-direction: row;
  padding-top: var(--paddingTop);
}

.SectionContentContainer {
  display: flex;
  flex-direction: column;
  flex: 80%;
  justify-content: space-around;
}

.AsideContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 20%;
  height: auto;
  background: rgb(144, 111, 34);
  max-width: 100px;
}

.elevator {
  width: 100%;
}


.container {
  height: 100vh;
  background: #1b1b1b;
  padding-bottom: 50vh;
  padding-top: 50vh;
}

.HoleBackground {
  position: absolute;
}

.Section {
  position: relative;
  height: 150vh;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SectionOne {
  background: var(--DirtOne);
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 20px);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;

  background: url("./assets/backgroundOr.jpg");
  background-size: cover;
  background-position: center;

  padding: 20px 5vw;
  text-align: center;


  #SectionOneTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #TitleSectionOne {
    position: relative;
    font-size: 1.25rem;
  }

  #SectionOneTitle {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
  }

  #SectionOneContentOne {
    position: relative;
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
  }

  #SectionOneContentTwo {
    grid-column: 2 / span 4;
    grid-row: 3/ span 1;
  }

  #SectionOneContentThree {
    grid-column: 2 / 6;
    grid-row: 4 / span 1;
  }

  #FirstGame {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
  }
}

#SectionTwo {
  background: var(--DirtTwo);
  display: grid;
   
  grid-template-columns: repeat(6, 20px);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;

  height: 100%;
  padding: 20px 5vw;
  text-align: center;

  background: url("./assets/backgroundOr2.jpg");
  background-size: cover;
  background-position: center;

  #TitleSectionTwo {
    position: relative;
    font-size: 1.25rem;
  }

  #SectionTwoTitle {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
  }

  #SectionTwoContentOne {
    position: relative;
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }

  #SectionTwoContentTwo {
    grid-column: 5 / span 1;
    grid-row: 3/ span 1;
  }

  #SectionTwoContentThree {
    grid-column: 2 / 6;
    grid-row: 4 / span 1;
  }

  #SecondGame {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
  }

}

#SectionThree {
  background: var(--DirtThree);
  display: grid;
  justify-items: center;
  height: 100%;
  grid-template-columns: repeat(6, 20px);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;

  padding: 20px 5vw;
  text-align: center;

  background: url("./assets/backgroundOr3.jpg");
  background-size: cover;
  background-position: center;

  #TitleSectionThree {
    position: relative;
    font-size: 1.25rem;
  }

  #SectionThreeTitle {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  #SectionThreeContentOne {
    position: relative;
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
  }

  #SectionThreeContentTwo {
    grid-column: 2 / span 4;
    grid-row: 3/ span 1;
    
  }

  #SectionThreeContentThree {
    grid-column: 2 / 6;
    grid-row: 4 / span 1;
  }

  #ThirdGame {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
  }

}

#SectionFour {
  background: var(--DirtFour);
  display: grid;
  justify-items: center;
  height: 100%;
  grid-template-columns: repeat(6, 20px);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;

  padding: 20px 5vw;
  text-align: center;

  background: url("./assets/backgroundOr4.jpg");
  background-size: cover;
  background-position: center;

  #TitleSectionFour {
    position: relative;
    font-size: 1.25rem;
  }

  #SectionFourTitle {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
  }

  #SectionFourContentOne {
    position: relative;
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
  }

  #SectionFourContentTwo {
    grid-column: 2 / span 4;
    grid-row: 3/ span 1;
  }

  #SectionFourContentThree {
    grid-column: 2 / 5;
    grid-row: 4 / span 1;
  } 

  #SectionFourContentFour{
    grid-column: 2 / 6;
    grid-row: 6 / span 1;
  }

  #FourthGame {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
  }

}

#SectionFive {
  background: var(--DirtFive);
  display: grid;
  justify-items: center;
  height: 100%;
  grid-template-columns: repeat(6, 20px);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;

  padding: 20px 5vw;
  text-align: center;

  background: url("./assets/backgroundOr5.jpg");
  background-size: cover;
  background-position: center;

  #TitleSectionFive {
    position: relative;
    font-size: 1.25rem;
  }

  #SectionFiveTitle {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
  }

  #SectionFiveContentOne {
    position: relative;
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
  }

  #SectionFiveContentTwo {
    grid-column: 2 / span 4;
    grid-row: 3/ span 1;
  }

  #SectionFiveContentThree {
    grid-column: 2 / 6;
    grid-row: 4 / span 1;
  }

  #FifthGame {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
  }

}

#archeologist {
  z-index: 1;
  margin: 0;
  position: relative;
  transform-origin: center;
}

#green {
  background-color: #2b6b30;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .SectionContentContainer {
    max-width: 80vw;
  }
  #SectionOne{
grid-template-columns:repeat(3, 1fr);
    #SectionOneTitle {
        grid-column: 1 / span 1;
    }
    #SectionOneContentOne{
      grid-column: 1 / span 1;
    }
    #SectionOneContentTwo{
      grid-column: 1 / span 1;
    }
    #SectionOneContentThree{
      grid-column: 1 / span 1;
    }
    #FirstGame{
      grid-column: 1 / span 3;
    }
  }
}



@media screen and (min-width: 375px) {

  :root {
    --paddingTop: 140px;
  }
  #SectionOne {
    grid-template-columns:repeat(3, 1fr);
  }#SectionTwo {
    #SectionTwoTitle {
        grid-column: 5 / span 1;
    }
  }#SectionThree {
    grid-template-columns:repeat(3, 1fr);
  }#SectionFour {
    grid-template-columns:repeat(3, 1fr);
  }#SectionFive {
    grid-template-columns:repeat(3, 1fr);
  }

  body {
    .HoleBackground {
      width: 80%;
    }
  }
}

@media screen and (min-width: 768px) {

  :root {
    --paddingTop: 200px;
  }

  svg{
    width: 70%;
    height: 70%;
  }

  #SectionOne {
    grid-template-columns:repeat(3, 1fr);
    padding: 10px;
    #SectionOneTitle {
        grid-column: 1 / span 3;
    }
    #SectionOneContentOne{
      grid-column: 1 / span 1;
    }
    #SectionOneContentTwo{
      grid-column: 2 / span 1;
    }
    #SectionOneContentThree{
      grid-column: 3 / span 1;
    }
    #FirstGame{
      grid-column: 1 / span 3;
    }
  }
    #SectionTwo {
    grid-template-columns:repeat(6, 1fr);
    padding: 0;
        #SectionTwoTitle {
           
            grid-column: 2 / span 4;
        }
        #SectionTwoContentOne {
          width: 100%;
          height: 100%;
        }
        #SectionTwoContentTwo {
          width: 250%;
          height: 250%;
        }
  }
    #SectionThree{
    grid-template-columns:repeat(6, 1fr);
    padding: 0;

    #SectionThreeTitle {
        grid-column: 3 / span 3;
    }

  }
    #SectionFour {
    grid-template-columns:repeat(6, 1fr);
    padding: 0;
  }
    #SectionFive {
    grid-template-columns:repeat(6, 1fr);
    padding: 0;
  }


}

@media screen and (min-width: 1024px) {

  :root {
    --paddingTop: 30vw;
  }

  #intro{
    font-size: 2rem;
  }

}