*
{
    margin: 0;
    padding: 0;
}

html{
    background: #041b01;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

.container {
    height: 100vh;
    background: #1b1b1b;
    padding-bottom: 50vh;
    padding-top: 50vh;
  }

  #archeologist{
    z-index: 1;
    margin: 0;
    position: relative;
    transform-origin: center;
}

#green{
  background-color: #2b6b30;
}